:root {
  --bg-color: rgb(243, 243, 243);
  --emphasis: rgb(2, 151, 151);
}

html, body {
  margin: 0;
  background-color: var(--bg-color);
}

/* We set the div defaults here. Everything should be flex by default. We can override this per component that needs it*/
div {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.container {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.header {
  background-color: rgb(82, 82, 82);
  color: var(--bg-color);
  font-size: 48px;
  padding: 5px;
}

.content {
  padding: 5px;
  flex-direction: column;
}

.currentCondition {
  flex-direction: column;
}

.currentCondition .title {
  font-weight: 700;
}

.currentCondition .title em {
  color: var(--emphasis);
}

.currentCondition div {
  font-size: 24px;
}

.forecast {
  flex-wrap: wrap;
}

.forecast .day {
  flex-direction: column;
  flex: 0;
  min-width: 185px;
  min-height: 125px;
  padding-left: 5px;
}

.forecast .day:first-child {
  padding-left: 0px;
}

.forecast .day .dayContent {
  justify-content: flex-start;
}

.forecast .day .info {
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 1 auto;
}

.forecast .day .info div {
  flex: 0 0 auto;
}

.forecast .title {
  font-weight: 600;
  flex: 0 0 auto;
}

.forecast i, .currentCondition i {
  font-size: 48px;
  color: var(--emphasis);
  margin: 5px;
  margin-top: 10px;
}

.inputArea {
  flex-wrap: wrap;
}

.inputArea input {
  flex: 1;
  max-width: 500px;
  margin-right: 5px;
  line-height: 20px;
}

.inputArea select {
  margin-right: 5px;
}

.inputArea button {
  border: 1px solid var(--emphasis);
  background-color: var(--emphasis);
  border-radius: 5px;
  color: var(--bg-color);
  font-size: 24px;
}

.inputArea button:hover {
  background-color: var(--emphasis);
}

.error {
  color: rgb(233, 0, 0);
  font-weight: bold;
}




.loading {
  justify-content: center;
  align-items: center;
}

/* https://loading.io/css/ */
.lds-dual-ring {
  display: flex;
  width: 92px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s
}

.loading .hidden, .hidden.lds-dual-ring:after  {
  width: 0px;
  height: 0px;
  border: 0;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid var(--emphasis);
  border-color: var(--emphasis) transparent var(--emphasis) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  transition: all 0.3s
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}